html {
  background: url(../../assets/images/img3.jpg) no-repeat;
  background-size: cover;
  background-position-x: 16%;
  background-position-x: 94%;
  font-family: var(--main-font);
}
body {
  margin: 0;
  padding: 0;
  width: 90vw;
  margin: 3rem 5rem;
  -webkit-font-smoothing: auto;
}

body .ly-content {
  display: grid;
  grid-template-columns: repeat(6, 14vw);
  grid-template-rows: repeat(6, 12vw) 1fr;
  grid-gap: 2vw;
}

/* RWD */

@media screen and (max-width: 1660px) {
  body .ly-content {
    grid-template-rows: repeat(6, 13vw) 1fr;
  }
}
@media screen and (max-width: 1485px) {
  body .ly-content {
    grid-template-columns: repeat(5, 17vw);
    grid-template-rows: repeat(6, 16vw) 1fr;
  }
}
@media screen and (max-width: 1245px) {
  body .ly-content {
    grid-template-columns: repeat(4, 19vw);
    grid-template-rows: repeat(6, 18vw) 1fr;
  }
}
@media screen and (max-width: 1125px) {
  body {
    margin: 3rem 3rem;
  }
  body .ly-content {
    grid-template-columns: repeat(4, 21vw);
    grid-template-rows: repeat(6, 20vw) 1fr;
  }
}
@media screen and (max-width: 1035px) {
  body .ly-content {
    grid-template-rows: repeat(6, 22vw) 1fr;
  }
}
@media screen and (max-width: 978px) {
  body {
    margin: 3rem 3rem;
  }
  body .ly-content {
    display: block;
  }
  body .main-content {
    margin-bottom: 3.1rem;
  }
  body .main-content article:nth-child(9) {
    grid-column: 2 / 3;
    margin: 0 auto;
    background-color: transparent;
  }
}
@media screen and (max-width: 700px) {
  body .main-content article:nth-child(9) {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
}
@media screen and (max-width: 640px) {
  body {
    margin: 3rem 2rem;
  }
}
@media screen and (max-width: 521px) {
  body {
    margin: 3rem 1.6rem;
  }
  body .main-content {
    margin-bottom: 1.1rem;
  }
  body .main-content article:nth-child(9) {
    padding-top: 35px;
  }
}
@media screen and (max-width: 480px) {
  body {
    width: 100%;
    margin: 1.5rem 0 1.2rem 0;
  }
  body .main-content {
    margin-bottom: 2.1rem;
  }
}
@media screen and (max-width: 400px) {
  body .main-content {
    margin-bottom: 1.2rem;
  }
}
