@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Merriweather:300,400,700');

@font-face {
	font-family: 'Lombok';
	src:url('fonts/Lombok/Lombok.otf') format('otf');
	src:url('fonts/Lombok/Lombok.ttf') format('ttf');
	src:url('fonts/Lombok/Lombok.woff') format('woff');
	src:url('fonts/Lombok/Lombok.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Squalor';
	src:url('fonts/Squalor/Squalor.otf') format('otf');
	src:url('fonts/Squalor/Squalor.ttf') format('ttf');
	src:url('fonts/Squalor/Squalor.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gingham';
	src:url('fonts/Gingham/Gingham.ttf') format('ttf');
	src:url('fonts/Gingham/Gingham.woff') format('woff');
	src:url('fonts/Gingham/Gingham.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}