:root {
    --color-text-underline: #FFD274;
    --color-text-title: #fff;
    --color-text-description: #fff;
    --color-main: #000033;
    --color-main-rgba: rgba(0, 0, 51, 0.8);
    --color-title: #FF8080;
    --color-box-rgba: rgba(205, 66, 103, 0.8);
    

    --main-title-font: 'Lato', sans-serif;
    --main-text-font: 'Merriweather', serif;
    --squalor: 'Squalor', sans-serif;
    --lombok: 'Lombok', sans-serif;
    --gingham: 'Gingham';

    --bold: 700;
    --regular: 400;
    --light: 300;
}