.list-articles {
	display: grid;
	grid-template-columns: repeat(5, 14vw);
	grid-template-rows: repeat(6, 12vw);
	/*
	grid-template-areas:	"A B C D"
							"E F G H"
							"I J K L"
							"M N O P"
							"Q R S T"
							"U V W X";
							*/
	grid-gap: 2vw;
}
.main-content article:nth-child(1) {
	/*
	grid-area: C;
	*/
	grid-row: 1 / 2;
    grid-column: 3 / 4;
}
.main-content article:nth-child(2) {
	/*
	grid-area: H;
	*/
	grid-row: 2 / 3;
	/*grid-column: 4 / 5;*/
	grid-column: 4 / 6;
	/*min-height: 2vh;*/
}
.main-content article:nth-child(3) {
	/*
	grid-area: I;
	*/
	grid-row: 3 / 4;
    grid-column: 1 / 2;
}
.main-content article:nth-child(4) {
	/*
	grid-area: N;
	*/	
	grid-row: 4 / 5;
    grid-column: 2 / 3;
}
.main-content article:nth-child(5) {
	/*
	grid-area: P;
	*/	
	grid-row: 4 / 5;
    grid-column: 4 / 5;
}
.main-content article:nth-child(6) {
	/*
	grid-area: Q;	
	*/
	grid-row: 5 / 6;
    grid-column: 1 / 2;
}
.main-content article:nth-child(7) {
	/*
	grid-area: S;
	*/	
	grid-row: 5 / 6;
    grid-column: 3 / 4;
}
.main-content article:nth-child(8) {
	/*
	grid-area: A;	
	*/
	grid-row: 6 / 7;
    /*grid-column: 2 / 3;*/
	grid-column: 2 / 4;
	/*min-height: 2vh;*/
}
.main-content article:nth-child(9) {
	grid-row: 1 / 2;
    grid-column: 1 / 2;
    background-color: transparent;
    width: 50%;
    position: relative;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* RWD */

@media screen and (max-width: 1660px) {
	body .list-articles {
		grid-template-rows: repeat(6, 13vw);
	}
}
@media screen and (max-width: 1485px) {
	body .list-articles {
		grid-template-columns: repeat(4, 17vw);
    	grid-template-rows: repeat(6, 16vw);
	}
}
@media screen and (max-width: 1245px) {
	body .list-articles {
		grid-template-columns: repeat(4, 19vw);
    	grid-template-rows: repeat(6, 18vw);
	}
}
@media screen and (max-width: 1125px) {
	body .list-articles {
		grid-template-columns: repeat(4, 21vw);
    	grid-template-rows: repeat(6, 20vw);
	}
}
@media screen and (max-width: 1035px) {
	body .list-articles {
		grid-template-rows: repeat(6, 22vw);
	}
}
@media screen and (max-width: 978px) {
	body .list-articles {
		grid-template-columns: repeat(3, 28vw);
		grid-template-rows: repeat(6, 28vw);
	}
	body .main-content article:nth-child(1) {
		grid-column: 1 / 2;
	}
	body .main-content article:nth-child(2) {
		grid-column: 3 / 4;
		grid-row: 1 / 2;
	}
	body .main-content article:nth-child(3) {
		grid-row: 2 / 3;
    	grid-column: 2 / 3;
	}
	body .main-content article:nth-child(4) {
		grid-row: 3 / 4;
    	grid-column: 1 / 2;
	}
	body .main-content article:nth-child(5) {
		grid-row: 4 / 5;
    	grid-column: 2 / 3;
	}
}
@media screen and (max-width: 767px) {
	body .list-articles {
		grid-template-rows: repeat(6, 40vw);
	}
}
@media screen and (max-width: 640px) {
	body .list-articles {
		grid-template-columns: repeat(2, 42vw);
		grid-gap: 5vw;
	}
	body .main-content article:nth-child(2) {
		grid-column: 2 / 3;
	}
	body .main-content article:nth-child(7) {
		grid-column: 2 / 3;
	}
	body .main-content article:nth-child(8) {
		grid-column: 1 / 3;
	}
}
@media screen and (max-width: 521px) {
	body .list-articles {
		display: block;
	}
}
