.main-header {
	padding: 0.6rem 0.6rem;
	/*
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
	*/
	align-self: center;

	grid-column: 1 / 4;
	grid-row: 2 / 3;
}

.main-header:hover .logo a::first-letter {
	color: var(--color-title);
}

.main-header .logo a::first-letter {
	font-size: 4rem;
	font-variation-settings: "wdth" 1000;
}
.main-header:hover .subtitle {
	color: var(--color-title);
	/*
	text-decoration: underline;
	text-decoration-color: var(--color-title);
	*/
}


/* RWD */

@media screen and (max-width: 978px) {
	body .main-header {
		display: flex;
		flex-direction: column;
		align-items: end;
		margin-bottom: 2.5rem;
	}
}
@media screen and (max-width: 545px) {
	body .main-header .logo a::first-letter {
		font-size: 3.5rem;
	}
}
@media screen and (max-width: 480px) {
	body .main-header {
		padding: 0.6rem 0.9rem;
	}
}
@media screen and (max-width: 400px) {
	body .main-header {
		margin-bottom: 1.5rem;
	}
}
