.main-header {
  padding: 0.6rem 0.6rem;
  align-self: center;
  grid-column: 1 / 4;
  grid-row: 2 / 3;
}

@media screen and (max-width: 978px) {
  body .main-header {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-bottom: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  body .main-header {
    padding: 0.6rem 0.9rem;
  }
}
@media screen and (max-width: 400px) {
  body .main-header {
    margin-bottom: 1.5rem;
  }
}
