.main-header:hover .subtitle {
  color: var(--color-title);
}
.subtitle {
  --subtitle-size: 1.5rem;
  margin: 0;
  padding: 0;
  font-size: var(--subtitle-size);
  font-family: var(--gingham);
  color: var(--bg-main);
  color: var(--color-main);
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
}
/* RWD */
@media screen and (max-width: 640px) {
  body .subtitle {
    align-self: flex-end;
  }
}
@media screen and (max-width: 545px) {
  body .subtitle {
    --subtitle-size: 1.3rem;
  }
}
@media screen and (max-width: 400px) {
  body .subtitle {
    --subtitle-size: 1.1rem;
  }
}
